* {
    padding: 0;
    margin: 0;
    background-color:#011C40;
    overflow:hidden;
    color:#6DCCF2;
    text-transform: uppercase;
    
}
.headerContainer {
    height: 50px;
    width: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style:solid;
    border-color:#5CB9F2;
    text-align: center;
}


.gameHeading {
    
    justify-content: center;
    align-self: center;
    border-style:solid;
    border-color:black;
    padding: 10px;
    margin:0px;

}


.gameInquiry {
    height:  50px;
    width: 20vh;
    border-style: solid;
    background-color: #F2CD88;
    align-self: center;
    margin: auto;
   

}

.startButton {
    width: 20vh;
    height: 100%;
    font-size: 25px;
    background-color: #F2CD88;
    color:#011C40;
}

.statContainer {
    display: flex;
    margin-top: 0%;
    margin:auto;
    
}

.statContainer div,
.statContainer p {
    border-style: solid;
    border-color:#6DCCF2;
    flex:auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    width: 33vh;
    font-weight: bold;
    
};



.buttonContainer {
    background-color:#F2CD88;
    margin-top: 10vh;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-content: center;
}


.btn {
    width: 100%;
    flex:1;
    margin-left: 0;
    border-radius: 10px;
    margin: 10px;
    border-color: aquamarine;
    font-size: 40px;
    background-color: grey;
}


#scoreboard  {
    justify-content: center;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

#scoreboard :nth-child(1),
#scoreboard :nth-child(3) {
    border-right-color:black;
    border-right-style: solid;
    
}
#scoreboard :nth-child(2),
#scoreboard :nth-child(4) {
    border-left-color:black;
    border-left-style: solid;
    
}

#scoreboard :nth-child(1),
#scoreboard :nth-child(2) {
    border-bottom-color:black;
    border-bottom-style: solid;
    
}
#scoreboard div {
    padding: 10px;
    border-radius: 10px;
}

