* {
    padding: 0;
    margin: 0;
    background-color:darkviolet;
}
.headerContainer {
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style:solid;
    border-color: black;
    text-align: center;
}

.gameHeading {
    
    justify-content: center;
    align-self: center;
    border-style:solid;
    border-color:black;
    padding: 10px;
    margin:10px;

}

.buttonContainer {
    background-color:coral;
    margin-top: 30vh;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-content: center;
    align-self: center;

}

.btn {
    width: 100%;
    flex:1;
    border-radius: 10px;
    margin: 10px;
    
}


#scoreboard  {
    justify-content: center;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
}