* {
    padding: 0;
    margin: 0;
    background-color:darkviolet;
}
.headerContainer {
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style:solid;
    border-color: black;
    text-align: center;
}


.gameHeading {
    
    justify-content: center;
    align-self: center;
    border-style:solid;
    border-color:black;
    padding: 10px;
    margin:10px;

}


.gameInquiry {
    height:  50px;
    width: 100%;

}

.buttonContainer {
    background-color:coral;
    margin-top: 10vh;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-content: center;
    

}

.btn {
    width: 100%;
    flex:1;
    border-radius: 10px;
    margin: 10px;
    
}


#scoreboard  {
    justify-content: center;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

#scoreboard :nth-child(1),
#scoreboard :nth-child(3) {
    border-right-color:black;
    border-right-style: solid;
    
}
#scoreboard :nth-child(2),
#scoreboard :nth-child(4) {
    border-left-color:black;
    border-left-style: solid;
    
}

#scoreboard :nth-child(1),
#scoreboard :nth-child(2) {
    border-bottom-color:black;
    border-bottom-style: solid;
    
}
#scoreboard div {
    padding: 10px;
    border-radius: 10px;
}

